body {
	color: #666;
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (min-width: 800px) {
  .container { max-width: 800px }
}

.container-narrow > hr {
  margin: 30px 0;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;

	h3 {
	  margin-top: 0;
	  margin-bottom: 0;
	  line-height: 40px;
	}
}

#about-page {
	.jumbotron {
	  text-align: center;
	  border-bottom: 1px solid #e5e5e5;
	}
	.btn {
	  padding: 14px 24px;
	  font-size: 21px;
	}
}

#github-page {
	time, strong, small { color: #888 }
	strong { margin-left: 10px }
	h2, h4 { color: #333 }

	#profile-data {
		text-align: center;

		h2 { margin: 10px }
	}
	.repo-list > li {
		padding: 25px 0;
	}

	section { padding: 20px 0 }
	.border-bottom { border-bottom: 1px solid #eee }
}


@media screen and (min-width: 800px) {
  .header, .skills { padding: 0 inherit }

  .header { margin-bottom: 30px }

  .jumbotron { border-bottom: 0 }
}

#contact-page {
	#profile-image { width: 100% }

	.info-list { margin-top: 15px }

	.fa {
		margin-right: 10px;
		width: 20px;
	}

}
